body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboy {
    width: 90vw;
    height: 90vh;
    z-index: 1;
}

canvas {
    width: 30.8vw;
    height: 49.8vh;
    position: absolute;
    top: 49.5%;
    left: 49.95%;
    transform: translate(-50%, -50%);
    z-index: 2;
}